@import './base.css';

:root {
  --bg-app-color: #181818;
  --bg-color: #222222;
  --font-color: #f1f5f9;
  --active-item: #42b883;
  --border-color: #f1f5f9;
  --border-color-dimmed: rgba(255, 255, 255, 0.251);
  --form-input-bg-color: rgba(255, 255, 255, 0.05);
  --form-input-placeholder: rgba(255, 255, 255, 0.5);
  --icon-filter: none;
}

html.light {
  --bg-app-color: #d9d9d9;
  --bg-color: #e7e7e7;
  --font-color: #181818;
  --active-item: #42b883;
  --border-color: #181818;
  --border-color-dimmed: rgba(0, 0, 0, 0.25);
  --form-input-bg-color: rgba(0, 0, 0, 0.05);
  --form-input-placeholder: rgba(0, 0, 0, 0.5);
  --icon-filter: invert(1);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
